@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans';
}

header{
	background-color: #848484;
	text-align: center;
	padding: 25px;
}



nav a{
	display: inline-block;
	text-decoration: none;
	color: #696969;
	margin: 0 30px;
	padding: 5px 15px;
	border-radius: 30px;
}
nav a:hover {
	background-color: #000;
	color: #fff;
}
.encabezado-img{
	background-image: url(img/fondo.jpg);
	background-size: cover;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000;
	
	
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}


.encabezado-img p{
	text-align: right;
	font-size: 18px;
	margin: 10px 50px 50px 500px;
	

}
.encabezado-img h2{
	font-size: 30px;
	margin: 10px 100px 100px 500px;
}

.encabezado-img h1{
	font-size: 30px;
	margin: 20px 200px 0px 600px;
}


